.sec_sp{
    padding-top: 3rem;
}

.card {
  border-radius: 12px;
  overflow: hidden;
  background-color: #1e1e1e; 
  color: #fff;
}

.card-title {
  font-family: 'Caveat', cursive;
  font-size: 1rem;
}

.card-img-top {
  border-bottom: 1px solid #ffffff;
}

.color_sec{
    font-size: 3rem;
}

.btn-primary {
  background-color: #001f4b !important; /* your custom primary color */
  border-color: #000000 !important;
  color: #ffffff !important;
}

.btn-secondary {
  background-color: #ffffff !important; /* your custom secondary color */
  border-color: #000000 !important;
  color: #000000 !important;
}
